<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="sci">
                    <li>
                        <a href="#" class="fa fa-facebook">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter">
                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-google-plus">
                            <fa-icon [icon]="['fab', 'google-plus']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-linkedin">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                    </li>
                </ul>
                <p class="cpryt">© Copyright 2019 | Planos Cad</p>
            </div>
        </div>
    </div>
</footer>