<section class="works" id="works">
    <div class="container">
        <div class="row">
            <div class="offset-sm-2 col-sm-8">
                <div class="headerText text-center">
                    <h2>Nuestro ultimo trabajo</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam nulla tempore sunt adipisci facere, error non saepe repellat quod ipsam impedit corporis nobis. Optio nisi laboriosam dolorum deleniti cum neque!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" *ngFor="let work of works">
                <app-work [work]=work></app-work>
            </div>
        </div>
    </div>
</section>
