.blogpost {
    position: relative;
    width: 100%;
    margin-top: 30px;
    background: #fff;
}

.blogpost .imgBx {
    height: 400px;

}

.blogpost .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogpost .content {
    padding: 15px;
}

.blogpost .content h1 {
    margin: 0;
    padding: 0 0 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.btnD2 {
    background: #262626;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px; 
    float: right;
}