<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>Un mundo por crear</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus nisi totam praesentium facere eligendi, magni repellat quibusdam beatae quos porro enim pariatur! Ut officia porro sed aliquam quasi perspiciatis?</p>
            </div>
        </div>
    </div>
</div>
<app-innovate-sec></app-innovate-sec>
<section class="sec2" id="achitecture">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>Sorprender al mundo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde commodi numquam libero aspernatur eaque quam, perferendis voluptate odio eum facere similique consectetur quos autem sunt, sint asperiores possimus magni distinctio.</p>
            </div>
        </div>
    </div>
</section>