<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>Un mundo por crear</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus nisi totam praesentium facere eligendi, magni repellat quibusdam beatae quos porro enim pariatur! Ut officia porro sed aliquam quasi perspiciatis?</p>
            </div>
        </div>
    </div>
</div>
<section class="sec1" id="inovation">
    <div class="container">
        <div class="row">
            <div class="offset-sm-2 col-sm-8">
                <div class="headerText text-center">
                    <h2>Crear algo nuevo</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt quia esse modi est quaerat corporis cupiditate maxime impedit fugiat. Sapiente reiciendis, vero hic facere aut sit natus et reprehenderit officia.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-innovate></app-innovate>
            </div>
        </div>
    </div>
</section>