.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    margin-bottom: 0;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.banner:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
}

.height100p {
    height: 100vh;
}

.h100 {
    height: 100%;
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    z-index: 10;
}

.contentBox h1 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p {
    color: #fff;
}