<section class="contact" id="contact">
    <div class="conatiner">
        <div class="row">
            <div class="col-sm-12">
                <div class="headerText text-center">
                    <h2>¡Contactanos!</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="offset-sm-2 col-sm-8">
                <form>
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje</label>
                        <textarea class="form-control textarea" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btnD1" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
